* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: burlywood;
}

#clockContainer {
    position: relative;
    height: 40vw;
    width: 40vw;
    margin: auto;
    background: url(../project-img/clock.png) no-repeat;
    background-size: 100%;
    margin-top: 60px;
}

#hour,
#minute,
#second {
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 21.5%;
    top: 29%;
    left: 49%;
    opacity: 0.8;
}

#minute {
    width: 2%;
    height: 30%;
    top: 20%;
    left: 49%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 36%;
    top: 14%;
    left: 49.5%;
    opacity: 0.8;
    background-color: red;
}